* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Neohellenic", serif;
  background-color: #FFCCD8;
  font-weight: 700;
  color: #FB6F92;
}

/* Header full-screen */
header {
  position: relative;
  height: 100vh;/* full viewport height */
  width: 100%;
  overflow: hidden;        
}


nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4rem;
}

nav a {
  font-weight: 700;
  font-size: 2rem;
  color: #FB6F92;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;
}

nav a:hover {
  color: #FFE5EC;
}

/* clouds */
.cloud {
  position: absolute;
  width: 17%;
  height: auto;
}


#cloud2 {
  top: 75%;
  right: 7%;
}

#cloud3 {
  bottom: 10%;
  left: 9%;
}

#cloud4 {
  top: 30%;
  left: 55%;
}

#cloud5 {
  top: 15% ;
  left: 1%;
}

#cloud6 {
  top: 2%;
  left: 82%;
}

/* hearts */
.heart {
  position: absolute;
  width: 5%;
  height: auto;
}

.heart:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

#heart1 {
  top: 55%;
  right: 5%;
}

#heart2 {
  bottom: 2%;
  left: 9%;
}

#heart3 {
  top: 33%;
  left: 47%;
}

#heart4 {
  top: 45%;
  left: 4%;
}

#heart5 {
  top: 20%;
  left: 75%
}

#heart6 {
  bottom: 14%;
  left: 60%;
}

#heart7 {
  top: 10%;
  left: 23%;
}


#header-img {
  position: absolute;
  width: 15%;
  height: auto;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Main title centered */
h1 {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Jua", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  color: #FFCCD8;
  text-align: center;
  text-shadow: 0 0 0.3em #ff527d, 0 0 0.6em #ff527d;
  z-index: 2;  
}

/* Tagline below h1 */
#tagline {
  position: absolute;
  top: 57%; 
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 2rem;
  color: #FB6F92;
  text-align: center;
}


 .steps {
  width: 8rem;         /* size of the box */
  padding: 1rem;
  background-color: #FB6F92; /* pink background */
  border-radius: 1rem; /* rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;        /* text color */
}

.steps img {
  width: 4rem;         /* resize images */
  height: auto;
  margin-bottom: 0.5rem;
}