* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Neohellenic", serif;
  background-color: #FFCCD8;
}

/* Header full-screen */
header {
  position: relative;
  height: 100vh;           /* full viewport height */
  width: 100%;
  overflow: hidden;        
}


nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4rem;
}

nav a {
  font-weight: 700;
  font-size: 2rem;
  color: #FB6F92;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s;
}

nav a:hover {
  color: #FFE5EC;
}

.cloud {
  position: absolute;
  width: 15%;
  height: auto;
}

#cloud1 {
  top: 10%;
  left: 5%;
}

#cloud2 {
  top: 20%;
  right: 10%;
}

#cloud3 {
  bottom: 10%;
  left: 15%;
}

#header-img {
  position: absolute;
  width: 20%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main title centered */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Jua", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  color: #FFCCD8;
  text-align: center;
  text-shadow: 0 0 0.3em #ff527d, 0 0 0.6em #ff527d;
  z-index: 2;  
}

/* Tagline below h1 */
#tagline {
  position: absolute;
  top: 60%; 
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 2rem;
  color: #FB6F92;
  text-align: center;
}
